
body {
    background-image:  url('images/backg.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* HEADER */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;

    margin-left: 12%;
    margin-right: 15%;
    margin-bottom: -20px;
}

.wrap-logo {
    display: flex;
    align-items: center;

}
.b2 {
    margin-top: 0px;
    margin-left: 5px;
}
.b1 {
    margin-left: 5px;
    margin-bottom: 7px;
}
.c1 {
    margin-top: 12px;
    margin-bottom: 5px;

}
.c2{
    margin-left: 70px;
}


header a {

    padding: 4px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    margin-right: 35px;
    margin-top: 15px;

}

header a.logo {
    font-size: 18px;

}

header a:hover {
    color: white;
}

header a.active {
    background-color: #F26522;
}

nav {
    display: flex;
    align-items: center;
}

p:hover {
    color: #F26522;
}
 .c1:hover {
     color: #F26522;
 }
.c2:hover {
    color: #F26522;
}

.from {
    text-align: left;
    margin-left: 20px;
    font-family: Roboto;
    font-size: 10px;
    margin-top: 10px;
    color:white;

}
.ero {
    text-align: left;
    margin-left: 5px;
    font-family: Roboto;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 20px;
    color:white;

}

.det {

    text-align: right;
    font-family: Roboto;
    font-size: 14px;
    margin-top: -20px;
    margin-bottom: -5px;
    margin-right: 15px;
    color:white;
}

header .logo a {
    background-image: url("http://gdurl.com/b9cd");
    background-size: 300px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 80px;
    position: relative;
    text-indent: -9999999px;
    top: -30px;
    width: 300px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}


.features {

    color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 14%;
    margin-right: 14%;
}

.features figure {
    margin: auto;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    text-align: center;
}
.features figure:hover {
    color: #F26522;
}


.features figure img {
    width: 290px;

}

.features figure img1 {
    width: 290px;
}


.features figure img:hover .features figure img1 {
    display:block;
    background: #F26522;
    cursor: pointer;


}


/* FOOTER */

footer {

    color: white;
    font-size: 12px;
    padding: 15px 15px;
    text-align: center;
    margin-left: 14%;
    margin-right: 14%;
    text-valign: bottom;
}


.figcaption {

    padding: 20px;

    display: inline-block;

}

div:hover + figcaption {
    display: block;
}

.figcaption1 {
    padding: 40px;

}

div:hover + .figcaption1 {
    display: block;
}

.milan {

    border: 1px red solid;
 height: 100%;
    float: left;

}

.figcaption2 {
    border: 1px red solid;

    margin-right: 10%;
    height: 100%;
    width: 400px;

    float: left;

}

div:hover + .figcaption2 {
    display: block;

}



.img {

    display: flex;
    width: 62px;
    height: 55px;
    margin-left: 90px;
    float: left;
    cursor: pointer;

}
.img:hover {
    background-color: #F26522;
}

















.block {
    display: block;
    float: left;
    position: relative;
    overflow: hidden;


}

.block img {
    display: block;
    overflow: hidden;
    float: left;
    position: relative;

}

.block__text {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
    background-color: #F26522;
    opacity: 0;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    margin: auto;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    color:black;

}

.block:hover .block__text {
    opacity: 1;
}



