* {
  padding: 0;
  margin: 0;
}

li {
  font-size: 1.2em;
}

.box {
  background: violet;
  width: 500px;
  display: inline-block;
  max-width: 500px; 
  border: 5px solid black;
  margin: 10px;
  box-sizing: border-box;
}

.block-1 {
  margin-left: 7%;
  margin-top: 2%;
  float: left;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 65px;
  list-style-type: none;
  color: black;
  display: block;
  text-decoration: none;
}
.block-2 {
  box-sizing: border-box;
  border: 1px solid black;
  height: 520px;
  width: 990px;
  padding: 50px 12px 1px 6px;
  margin-top: 2%;
  margin-left: 4%;
  margin-right: 7%;

}
.block-3 {
  box-sizing: border-box;
  border: 1px solid white;
  height: 250px;
  padding: 8px 12px 1px 6px;
  margin-top: 1%;
  margin-left: 33%;
  margin-right: 7%;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;


}

.flex {
  display: flex;
}
.block-4 {
  box-sizing: border-box;
  border: 1px solid #35444F;
  background: #35444F;
  margin-left: 7%;
  margin-right: 7%;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  list-style-type: none;


}
.block-5 {
  border: 1px solid #63696E7A;
  padding: 10px 0 0 0;
  background: #63696E7A;
  margin-top: 2%;
  margin-left: 7%;
  margin-right: 7%;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;

}

.image {
  margin-left: 31%;
  margin-right: 31%;
}
p {

  margin-bottom: 1em;
  font-size: 1.3vw;
}

ul.hr {
  margin: 0;
  padding: 4px;


}
ul.hr li {
  display: inline;
  margin-right: 5px;
  border: 1px black solid;
  padding: 3px;
  width: 250px;
  height: 90px;
  color: white;
  text-decoration: none;
}

.menu2{
  border: 1px white solid;
  list-style-type: none;
  height: 69px;
  padding: 0 0 0 30px;
}
.menu {
  border-right: 0px solid hsl(204deg 7% 85%);

}

.menu {
  border-right: 1px solid hsl(204deg 7% 85%);
}

.main-menu2 {
  list-style: none;
  margin: 0;
  margin-left: 15%;
  font-family: 'Montserrat', sans-serif;

}
.main-menu2 > li {
  display: inline-flex;
  margin-left: 28px;
}
.main-menu2 > li + li {
  margin-left: -4px;
}
.main-menu2 > li > a {

  border-left: 1px solid hsl(204deg 7% 85%);
  padding: 20px 30px 20px 30px;
  position: relative;
  letter-spacing: 1.2px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  margin-left: -3px;


}

.main-menu2 > li > a:hover {
  text-decoration: none;
  background: #222F3A;


}
.main-menu2 > li > a:after {
  width: 0;
  height: 3px;
  background-color: #337AB7;
  content: '';
  left: 0;
  bottom: 10px;
  position: absolute;
  transition: all .3s;

}

.main-menu {
  list-style: none;
  margin: 0;
  font-family: 'Montserrat', sans-serif;

}
.main-menu > li {
  display: inline-flex;
}
.main-menu > li + li {
  margin-left: 20px;
}
.main-menu > li > a {

  padding: 10px 0 20px 20px;
  position: relative;
  color: #000;
  letter-spacing: 1.2px;
  font-size: 18px;
  text-decoration: none;


}

.main-menu > li > a:hover {
  color: #337AB7;
  text-decoration: underline;
  content: "";
  transition: width 0.3s ease-out;
  margin-left: 20px;

}
.main-menu > li > a:after {
  width: 0;
  height: 3px;
  background-color: #337AB7;
  content: '';
  left: 0;
  bottom: 10px;
  position: absolute;
  transition: all .3s;
}
.vertical-menu {
  border: 1px solid #000000;
  width: 320px;
}

.vertical-menu a {
  background-color: #eee;
  color: #485863;
  display: block;
  font-family: system-ui;
  text-decoration: none;

}

.vertical-menu a:hover {
  background-color: #ccc;
  color: #000000;

}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: #3181A6;
  border-bottom:1px #4CAF50;
}
li {
  list-style-type: none;
}

.copy {
  margin-left: 300px;
}
.ramda {
  font-size: 40px;
  margin: 10px 0 5px 100px;
}
img {
  margin-top: -15px;
  margin-left: 10px;
}

a {
  cursor: pointer;
  color: #4BCAFF;
  text-decoration: none;
}
h1 {
  cursor: pointer;
  text-decoration: none;
}
