*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body {
    background-image: url(./img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1360px;
    height: 100vh;
    padding-top: 46px;
    margin: 0 auto;
}

    .container {
        width: 1030px;
        margin: 46px 177px 0 161px;
    }

    header {
        display: flex;
        margin-top: 41px;
    }

    main {
        display: block;
        max-width: 1366px;
        max-height: 768px;
    }

    .logoflex {
        color: azure;
        display: flex;
    }


    .logo {
        width: 53px;
        height: 47px;
        margin-top: 6px;
        margin-right: 8px;
        background-image: url("./img/home1.svg");
        display: block
    }

    .milhol {
        padding-top: 0px;
        font-weight: 700;
    }

    .milan {
        font-size: 29px;
    }

    .contacts {
        color: aliceblue;
        width: 1028px;
        height: 61px;
        justify-items: end;
        text-align: end;
    }

    .holidays, .email, .phone,
    p {
        font-size: 18px;
        font-weight: 400;
        color: aliceblue;
    }

    .box>p {
        margin-top: 20px;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
    }

    .phone {
        line-height: 3;
    }

    .box {
        max-width: 309px;
        max-height: 265px;
        color: aliceblue;
        overflow: hidden;
    }

    .photo {
        width: 300px;
        height: 220px;
    }

    .mainflex1 {
        margin-top: 17px;
        display: flex;
        flex-wrap: wrap;
        width: 1030px;
        gap: 64px;
    }

    .mainflex2 {
        margin-top: 19px;
        display: flex;
        flex-wrap: wrap;
        width: 1030px;
        gap: 64px;
    }

    .footertext {
        color: aliceblue;
        font-size: 12px;
        font-weight: 400;
        text-align: center;
        margin-top: 32px;
    }

    .orange {
        position: relative;
        bottom: 40px;
        color: wheat;
        background-color: #F26522;
        height: 55px;
    }

    .box>.orange {
        opacity: 0;
    }
.box:hover>.orange {
    opacity: 1;
    transition: bottom 0.5s ease-in;
    bottom: 100px;
}


.box:hover>p {
    color: #F26522;
}

.phone:hover,
.email:hover {
    color: #F26522;
}

.logoflex:hover>.logo {
    background-image: url(./img/home2.png);
}

.logoflex:hover>.milhol p {
    color: #F26522;
}

    .details {
        margin: -19px 0 0 185px;
        font-size: 14px;
        font-weight: 400;
    }

    .from {
        padding: 7px 0 0 16px;
        font-size: 10px;
        font-weight: 400;
    }
            .photo:hover{
                border: 3px lightslategrey solid;
            }

    .price {
        margin-top: 4px;
        font-size: 20px;
        font-weight: 400;
        margin-left: 16px;
    }

    .vector::after {
        content: ">";
        color: aliceblue;
        padding: 0 10px;
    }




