
* {
  box-sizing: border-box;
}

.body {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 20px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: gray;
    padding: 10px 10px;
}

.wrap-logo {
    display: flex;
    align-items: center;
    background:transparent;
}
.form {
    padding: 10px 40px;
}

header a {
    color:white;
    padding: 12px;
    text-decoration: none;
    font-size: 14px;
    border-radius: 4px;
    font-family: Verdana;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;
}

header a.logo {
    font-size: 25px;
    font-weight: bold;
}
header a.logo:hover {
    color: #01813F;

}
nav {
    display: flex;
    align-items: center;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background: #3CB878CC;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background: #01813F;
}

div {
    background-color: #f2f2f2;
}

.social_network {
    margin-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
}

.fa {
    width: 49%;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    line-height: 50px
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}


.fa-google {
    background: #dd4b39;
    color: white;
}

.symbol {
    color: green;
    font-weight: normal;
    font-family: Verdana;
}

span.term a{

    text-decoration: none;
    color: #3CB878;
    margin-left: 5px;
    font-weight: normal;
    font-family: Verdana;
}
span.term a:hover{
    color: green;
}

.or_block {

    height: 80px;
    text-align: center;

    padding: 30px;
}

.log_in1{
    text-align: right;
    font-family: Verdana;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
    color: white;

}
.log_in1:hover{
    color: #01813F;

}

.photo {
    background: url("images/back.png") center;
    background-size: cover;

}

.img {
    margin-left: 20px;
    margin-right: 20px;
}

.img:hover {
    background: #07793D;
}
.or_word{
    color: white;
    font-family: Verdana;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;

}

.exit {
    padding-top: 20px;
}

.exit1 {
    width: 33%;
    margin-left: 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}

.exit1-sign_up {

    color: black;
    text-align: left;
    font-family: Ubuntu;
    font-size: 20px;
    border-left: 25px #3CB878 solid;
}


.exit1-log_in {
    color:#3CB878;
    text-align: right;
    font-family: Ubuntu;
    font-size: 14px;
}

.exit1-log_in:hover {
    color: #07793D;
    text-decoration: underline;
}
