* {
    max-width: 1280px;
    margin: auto;
    box-sizing: border-box;
}

body {
    background:#171717;

}

.header_block {
    display: flex;
    padding: 0 40px 0 40px;
}

.header_infr {
    display: inline;
    width: 100%;
    padding: 30px 0 30px 0;
}

.header_text {
    display: flex;
    font-size: 10px;
    font-family: sans-serif;
}


.header_item_number {
    display: flex;
    border: 1px solid #e4b564;
    padding: 5px;

}


 .header_image {
  margin: 3px

}

.header_text_num{
    color: #e4b564;
    font-size: 13px;
    white-space: nowrap;
    font-family: sans-serif;


}
a {
    text-decoration: none;
}
.text1 {
    color:white;
}

.header_text_number {
    margin: 3px;

}

.main_text {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    padding: 0 40px 0 40px;
}
.information_text {
    color: white;
    font-family: sans-serif;
    margin-top: 25px;
    font-size: 15px;
    line-height: 20px;
    padding: 0 40px 0 40px;
}

.grid_main_text_menu {
    margin-top: 40px;
    display: grid;
    /*border: var(--color3) solid 15px;*/
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 0 40px 0 40px;
}
.grid-item {

    font-size: 18px;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    height: 350px;
    width: 100%;
    color: white;
    padding: 5px;
    display: grid;

}
.grid-menu-item1 {
    background:#634F2C;
    grid-column: span 1;
    grid-row: span 1;
    display: grid;
}
.grid-menu-item2 {
    background: #B4A385;
    grid-column: span 1;
    display: grid;
}
.grid-menu-item3 {
    background:  #E4B564;
    grid-column: span 1;
    display: grid;
}
.grid-menu-item4 {
    background: #635A4A;
    display: grid;
}
.grid-menu-item5 {
    background: #B08C4D;
    display: grid;
}

.grid-menu-item2 {
    padding: 50px;
}
.grid_main_text_menu_2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    margin-top: 20px;
    font-family: sans-serif;
    padding: 0 40px 0 40px;
}

.information_text_mechanics {
    color: white;
    font-size: 23px;
    font-family: sans-serif;
    padding: 100px 40px 0px 40px;
}

.information_mechanics_menu {
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(11,1fr);
    grid-gap: 20px;
    max-height: 900px;
    font-size: 80px;
    padding: 40px;
}
.box {
    display: flex;
    font-size: 18px;
    margin-top: 40px;
    margin-left: 10px;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    color: white;
    padding: 5px;

}
.mech-item1,
.mech-item2,
.mech-item3,
.mech-item4,
.mech-item6,
.mech-item7 {
    color: white;
    display: grid;

}

.mech-item1 {
    background: #0E0E0E;;
    grid-column: span 3;
    grid-row: span 5;
    display: grid;
}
.mech-item2 {
    background: #242424;;
    grid-column: span 3;
    grid-row: span 8;
    display: grid;
}
.mech-item3 {
    background: #1F1F1F;;
    grid-column: span 3;
    grid-row: span 5;
    display: grid;
}
.mech-item4 {
    background: #1F1F1F;;
    grid-column: span 3;
    grid-row: span 6;
    display: grid;
}
.mech-item5 {
    background: #0E0E0E;;
    grid-column: span 3;
    grid-row: span 5;
    display: grid;
}
.mech-item6 {
    background: #E4B564;;
    grid-column: span 3;
    grid-row: span 3;
    color: black;
    display: grid;

}
.mech-item7 {
    background: #0A0909;;
    grid-column: span 3;
    grid-row: span 3;
    height: 200px;
    display: grid;
}

.dark_end_container {
    background: black;

    background-attachment: fixed;
    margin-left: 4%;
    margin-right: 4%;

}
.container_information_text_end {

    padding: 20px;
    background: #1F1F1F;
    display: grid;

}
.text_info {
    color: white;
    display: grid;
    margin-left: 20px;
    font-size: 20px;
    font-family: sans-serif;
}
.all_project_link {
    color: #e4b564;
    border: 1px solid #e4b564;
    padding: 5px;
    margin-right: 20px;
    font-size: 20px;
}
.grid-info-table {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.grid-end {
    display: grid;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    height: 300px;
    width: 100%;
    color: white;
}
.item-info1 {
    background: #634F2C;
    display: grid;
}
.item-info2 {
    background: rgba(232, 210, 171, 0.76);
    display: grid;
}
.item-info3 {
    background: #E4B564;
    display: grid;
}
.item-info4 {
    background: #635A4A;
    display: grid;
}
.item-info5 {
    background: #B08C4D;
    display: grid;
}
.item-info6 {
    background:  #634F2C;
    display: grid;
}

/*footer {
    border: 1px red solid;
    height: 100px;
    width: 100%;
    background:red;
    text-align:center;
    font-size:42px;
    display: grid;



}*/
.text-grid-end {
    padding: 30px;
    margin-top: -40px;
}
.img-grid-end{
    padding: 20px;
    margin-top: 30px;
}
.img-grid-end2{
margin-left: 30%;
    margin-top: -40px;
}

.dark_container1 {

    padding: 50px;
    width: 110%;
    margin-left: auto;
    margin-right: auto;
    background: #141414;
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}


.container_information_text_end, .a {
    background: #0E0E0E;
    background-attachment: fixed;
    width: 100%;


}